@charset "utf-8"
@import mixins/_rwd
@import mixins/_font
@import mixins/_universal
// university
*
	font-family: Montserrat, GenJyuuGothic

img
	max-width: 100%

body
	height: 100%
	background-image: url(../img/cate-06.jpg)
	background-size: cover
	background-position: center
	transition: background 0.5s

	&.result
		.header .function-box
			display: none

	&.cate-02
		background-image: url(../img/cate-02.jpg)
		transition: background 0.5s

	&.cate-03
		background-image: url(../img/cate-03.jpg)
		transition: background 0.5s

	&.cate-04
		background-image: url(../img/cate-04.jpg)
		transition: background 0.5s

	&.cate-05
		background-image: url(../img/cate-05.jpg)
		transition: background 0.5s

	&.cate-06
		background-image: url(../img/cate-01.jpg)
		transition: background 0.5s

	&.cate-07
		background-image: url(../img/cate-07.jpg)
		transition: background 0.5s

	&.cate-08
		background-image: url(../img/cate-08.jpg)
		transition: background 0.5s

.header
	~ div .container
		margin-top: 0
		margin-bottom: 0
		border-radius: 30px 30px 0 0
		height: auto
		min-height: calc(100vh - 60px)
		background: rgba(white, 1)

.tippy-box
	.tippy-content
		color: white !important
		font-size: 14px
		font-weight: 200 !important

.title-box
	margin-top: 0px
	text-align: center
	color: #2d26e8

	span
		display: block
		transform: scale(0.9)
		
		small
			strong
				font-weight: 500

	.title
		padding: 20px 20px
		position: relative
		display: inline-block
		font-family: lobster
		font-size: 50px
		font-weight: 400

		// button
		// 	margin-left: 5px
		// 	position: absolute
		// 	left: 100%
		// 	top: 5px
		// 	height: 16px
		// 	width: 16px
		// 	color: white
		// 	background: lightgray
		// 	border: 0
		// 	border-radius: 100px
		// 	font-size: 12px

	.des
		margin-top: 10px
		font-size: 14px
		font-weight: 200

.container
	margin: 0 auto
	margin-top: 20px
	margin-bottom: 20px
	padding: 20px 0
	position: relative
	display: block
	width: calc(100% - 40px)
	max-width: 800px
	height: auto
	min-height: calc(100vh - 80px)
	background: #fbfbfb
	border-radius: 30px

.divider
	margin: 0 auto
	display: block
	width: 40%
	height: 1px
	background: lightgray


// input style
/* The switch - the box around the slider */
.switch
	position: relative
	display: inline-block
	width: 52px
	height: 30px

/* Hide default HTML checkbox */
.switch input
	opacity: 0
	width: 0
	height: 0

.slider
	position: absolute
	cursor: pointer
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #ccc
	-webkit-transition: .4s
	transition: .4s

.slider:before
	position: absolute
	content: ""
	height: 22px
	width: 22px
	left: 4px
	bottom: 4px
	background-color: white
	-webkit-transition: .4s
	transition: .4s

input:checked + .slider
	background-color: #a964c4

input:focus + .slider
	box-shadow: 0 0 1px #a964c4

input:checked + .slider:before
	transform: translateX(22px)


/* Rounded sliders */
.slider.round
	border-radius: 34px

.slider.round:before
	border-radius: 50%


// question page
.question-page
	.function-box
		margin: 0 auto
		margin-bottom: 40px
		display: block
		position: relative
		height: 10px
		width: calc(100% - 40px)
		border-radius: 20px

		span.des
			position: absolute
			top: 15px
			right: 0
			font-size: 12px

		.swiper-pagination-progressbar
			height: 100%
			top: 0
			width: 100%
			border-radius: 20px
			background: rgba(black, 0.1)
			overflow: hidden

			.swiper-pagination-progressbar-fill
				background: transparent
				background-image: linear-gradient(45deg, #2d26e8 , #8368e6)

	.swiper
		margin: 0 20px
		position: relative
		overflow: hidden

		&:after
			content: ''
			position: absolute
			bottom: 80px
			width: 100%
			height: 10px
			background-image: linear-gradient(to top, #fbfbfb, transparent)
			z-index: 99

		&:before
			content: ''
			position: absolute
			top: 0px
			width: 100%
			height: 10px
			background-image: linear-gradient(to bottom, #fbfbfb, transparent)
			z-index: 99

		.swiper-wrapper
			padding-bottom: 40px
			position: relative

		.swiper-slide
			.scroll-box
				padding: 0px 10px 0 0
				margin: 0 1px
				margin-bottom: 40px
				height: calc(100vh - 250px)
				overflow-y: scroll

				&::-webkit-scrollbar
					width: 2px

				&::-webkit-scrollbar-thumb
					background: #bababa
					border-radius: 20px

			.q-card
				margin-bottom: 40px

				&:first-child
					margin-top: 20px

				&:last-child
					margin-bottom: 20px

				.question
					margin-bottom: 10px
					display: flex
					flex-wrap: wrap
					color: #555
					width: 100%
					font-weight: 400
					font-size: 14px
					line-height: 20px

				.option-box
					padding: 3px 0
					padding-bottom: 20px
					position: relative
					display: inline-flex
					justify-content: center
					align-items: center

					p
						position: absolute
						left: 0
						bottom: 0
						color: black
						font-size: 12px
						font-weight: 400

						&.right
							left: auto
							right: 0

					.option
						display: inline-block
						
						label
							margin: 0px 6px
							display: inline-block
							height: calc(((100vw - 92px) - (6*6px))/7)
							width: calc(((100vw - 92px) - (6*6px))/7)
							max-height: 102px
							max-width: 102px
							cursor: pointer
							border-radius: 200px
							border: 2px solid lightgray
							text-align: center
							font-size: 12px
							font-weight: 200

						&.active
							label
								color: white
								border: 2px solid #362ae6
								background-image: linear-gradient(45deg, #0011f1, #613fdd)
								font-weight: 100

						& ~ .option
							label
								height: calc(((100vw - 92px) - (6*6px))/7 - 4px)
								width: calc(((100vw - 92px) - (6*6px))/7 - 4px)
								max-height: 99px
								max-width: 99px
								opacity: 0.5

							& ~ .option
								label
									height: calc(((100vw - 92px) - (6*6px))/7 - 8px)
									width: calc(((100vw - 92px) - (6*6px))/7 - 8px)
									max-height: 95px
									max-width: 95px
									opacity: 0.6

								& ~ .option
									label
										height: calc((100vw - 92px - 36px)/7 - 12px)
										width: calc(((100vw - 92px) - (6*6px))/7 - 12px)
										max-height: 91px
										max-width: 91px
										opacity: 0.7

									& ~ .option
										label
											height: calc(((100vw - 92px) - (6*6px))/7 - 8px)
											width: calc(((100vw - 92px) - (6*6px))/7 - 8px)
											max-height: 95px
											max-width: 95px
											opacity: 0.8

										& ~ .option
											label
												height: calc(((100vw - 92px) - (6*6px))/7 - 4px)
												width: calc(((100vw - 92px) - (6*6px))/7 - 4px)
												max-height: 99px
												max-width: 99px
												opacity: 0.9

											& ~ .option
												label
													height: calc(((100vw - 92px) - (6*6px))/7)
													width: calc(((100vw - 92px) - (6*6px))/7)
													max-height: 102px
													max-width: 102px
													opacity: 1

						&:first-of-type
							label
								margin-left: 0
								opacity: 0.4

						&:last-of-type
							label
								margin-right: 0

					input
						display: none

		.process-box
			position: absolute
			bottom: 50px
			right: 0
			color: #b1b1b1
			font-size: 12px
			font-weight: 400

			.current
				padding-right: 5px

		.swiper-next,
		.swiper-prev
			padding: 10px 0
			position: absolute
			left: 0
			bottom: 0
			border: 0
			width: 120px
			max-width: calc(33.33% - 30px/3)
			cursor: pointer
			border: 1px solid #555
			border-radius: 10px
			transition: .3s ease
			font-size: 14px
			font-weight: 300
			line-height: 14px
			text-align: center
			z-index: 1

			&.swiper-button-disabled
				opacity: 0
				cursor: auto

		.swiper-next
			right: 0
			left: auto
			color: white
			background: #eba100
			border: 1px solid transparent

	.submit-box
		padding: 0px 20px
		position: absolute
		bottom: 20px
		width: 100%
		text-align: right
		border: 0
		opacity: 0
		transition: .3s ease
		pointer-events: none

		&.show
			opacity: 1
			z-index: 999
			z-index: 1

		button
			padding: 10px 0
			color: white
			background: #2d26e8
			width: 120px
			max-width: calc(33.33% - 30px/3)
			border: 1px solid #2d26e8
			border-radius: 10px
			font-size: 14px
			line-height: 14px
			cursor: pointer
			pointer-events: auto

			&.disabled
				background: lightgray
				border: 1px solid lightgray
				// pointer-events: none


// form
.form
	.title-box
		.title
			margin-bottom: 20px
			font-size: 40px
	form
		padding: 0 20px

		div.flex
			flex-wrap: wrap
			justify-content: center
			align-items: center

		.title
			margin-top: 10px
			margin-bottom: 20px
			display: inline-block
			width: 100%
			font-size: 16px
			font-weight: 400
			text-align: center

		label
			font-size: 14px
			font-weight: 100

		input
			padding: 15px 20px
			width: calc(100% - 30px)
			border: 0px
			background: #f3eceb
			outline: none
			font-size: 14px
			text-align: center

			&::placeholder
				color: #000000

		.radio
			display: flex
			justify-content: space-between
			width: calc(100% - 30px)

			label
				padding: 20px 0
				width: calc(33.333% - 20px)
				font-size: 14px
				font-weight: 400
				text-align: center
				background: #f3eceb
				
			input
				display: none

				&:checked
					+ label
						color: white
						background: #2d26e8

		a
			padding: 10px 0
			margin: 0 auto
			display: block
			background: #2d26e8
			border: 0
			border-radius: 10px
			font-size: 16px
			line-height: 16px
			cursor: pointer
			text-align: center

			input
				padding: 5px 0
				color: white
				width: auto
				border: 0
				background: transparent


// header footer
.footer
	margin-top: -20px
	height: 60px
	display: inline-block
	width: 100%

	.container
		min-height: auto

	&.inline
		padding: 20px
		margin: 0 auto
		margin-top: 20px
		display: inline-block
		height: auto

		.container
			flex-wrap: wrap
			display: inline-flex
			min-height: auto
			width: 100%

		.instagram
			margin-bottom: 60px
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			font-size: 12px

			img
				margin-right: 5px
				width: 24px
				height: 24px

			a
				margin-right: 5px
				display: inline
				text-decoration: underline
				color: black
			
			.detail
				p
					line-height: 16px
		
		.right
			width: 100%
			font-size: 12px
			text-align: center

		.logo-box
			margin-top: 30px
			margin-bottom: 20px

	.container
		margin: 0 auto
		display: flex
		justify-content: center
		align-content: center
		height: 100%
		background: transparent

	.logo-box
		display: flex
		justify-content: center
		align-items: flex-end
		transform: translateY(-25%)

		span
			font-size: 12px
			line-height: 12px
			font-weight: 600

	.logo
		margin-left: 5px
		padding-bottom: 6.5%
		display: inline-block
		width: 10vw
		max-width: 40px
		background-image: url(./img/logo.png)
		background-size: contain
		background-position: center
		background-repeat: no-repeat
		transform: translateY(-1px)
			
.header
	position: relative
	height: 60px
	z-index: 2

	.container
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-content: center
		height: 100%
		min-height: auto
		background: transparent

		.logo-box
			display: flex
			justify-content: center
			align-items: center
			z-index: 2

			.logo
				margin-left: 5px
				display: inline-block
				width: 10vw
				max-width: 80px
				min-width: 65px
				padding-bottom: calc(23%)
				background-image: url(./img/logo.png)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transform: translateY(-1px)

	.function-box
		margin-right: 0
		margin-left: auto
		display: inline-flex
		align-items: center
		
		a
			display: inline-flex
			align-items: center
			color: black
			font-weight: 500
			
			img
				margin-right: 5px
				width: 20px
				height: 20px

	.hamburger
		margin-right: 0
		margin-left: 25px
		display: flex
		height: 20px
		justify-content: center
		align-items: center
		z-index: 1

		span
			display: block
			position: relative
			width: 27px
			height: 2px
			background: #333333
			z-index: 9
			transition: .3s ease

			&:after,
			&:before
				content: ''
				position: absolute
				top: -6px
				width: 100%
				height: 2px
				background: #333333
				transform: rotate(0deg)
				transition: .3s ease

			&:before
				top: auto
				bottom: -6px

		&.open
			span
				background: transparent

				&:after
					top: 0
					transform: rotate(45deg)

				&:before
					bottom: 0
					transform: rotate(-45deg)

		ul
			padding: 60px 0
			position: absolute
			display: flex
			flex-wrap: wrap
			flex-direction: column
			justify-content: center
			top: 0
			right: -20px
			width: 100vw
			height: 100vh
			background: white
			text-align: center
			opacity: 1

			li
				padding: 20px 0
				width: 100%

				a
					color: #333
					font-size: 18px
		
		.slide-enter-active,
		.slide-leave-active
			transition: all .5s ease

		.slide-enter-from,
		.slide-leave-to
			top: 40px
			height: calc(100vh - 40px)
			opacity: 0


// index
.index
	.article
		color: black
		text-align: center

		p
			margin-top: 20px
			margin-bottom: 20px
			padding: 0 60px
			line-height: 34px
			font-size: 18px
			font-weight: 600
		
		span
			margin-bottom: 20px
			padding: 0 40px
			display: inline-block
			line-height: 15px
			font-size: 12px
			font-weight: 500

			&.link
				padding: 0

				a
					padding: 0
					display: inline
					color: black
					text-decoration: underline
					background: transparent
					font-size: 12px

		a
			margin-bottom: 20px
			padding: 15px 20px
			display: inline-block
			color: black
			background: #fbb91c
			border: 0px solid transparent
			border-radius: 10px
			font-size: 14px
			font-weight: 500

		.simulator
			margin: 0
			position: relative
			height: calc(100vw - 40px)
			max-height: calc(500px + 300px)
			width: 100%
			display: flex
			align-items: center
			justify-content: center
			overflow: hidden

			.amoeba
				margin: 0 auto
				position: absolute
				width: calc(100% - 70px)
				max-width: 600px
				height: calc(100% - 70px)
				max-height: 600px
				z-index: 1
				background: linear-gradient(50deg, #ceffdf, #b0feff, #d3a5ff, #c3e1ff, #ffcfa4, #edbbff, #bcffcf, #ffc2d6)
				background-size: 1600% 1600%
				animation: morph 20s ease-in-out infinite alternate, change 20s linear infinite alternate, rotate 20s linear infinite alternate

				&:after
					content: ''
					position: absolute
					left: 0
					height: 100%
					max-height: 600px
					width: 100%
					max-width: 600px
					border: 1px solid #71a9ff
					// background: linear-gradient(90deg, #edd8bf, #f1bdbd, #cdddf1, #cdc0db, #dbbdd2, #c3e0d2, #eadbe0, #cbd8de)
					background-size: 1600% 1600%
					animation: morph 12s ease-in-out -2s infinite alternate, change 20s linear infinite alternate, rotate 20s linear infinite alternate
					opacity: 0.7

			.amoeba1
				margin: 0 auto
				position: absolute
				width: calc(100% - 70px)
				max-width: 600px
				height: calc(100% - 70px)
				max-height: 600px
				animation: rotate 20s linear infinite alternate-reverse
				z-index: 99
				opacity: 0.5
				
				&:after
					content: ''
					position: absolute
					top: 50%
					left: 50%
					height: 64%
					max-height: 300px
					width: 64%
					max-width: 300px
					background: linear-gradient(10deg, #a4e5ba, #ADE6E7, #e0c3fc, #a0c5e9, #4facfe, #ddc1e7, #c6edd1, #fed6e3)
					transform: translate(-50%, -50%)
					background-size: 1600% 1600%
					animation: morph2 12s ease-in-out -2s infinite alternate, change 10s linear infinite alternate

			svg
				position: relative
				width: calc((100% - 70px)*0.86)
				max-width: 500px
				z-index: 1
				background: rgba(white, 0.9)
				border-radius: 1000px
				opacity: 1
				
				g[id]
					opacity: 0.8

		.dimensions
			padding: 0 20px
			margin-top: 20px
			margin-bottom: 20px

			li
				margin-bottom: 10px
				position: relative

			p
				margin: 0
				padding: 10px 10px
				display: flex
				align-items: center
				width: 100%
				background: #ececec
				border-radius: 2px
				font-size: 20px
				font-weight: 400

			.arrow
				position: absolute
				right: 20px
				top: 20px
				background-image: url(./img/icons/down-arrow.png)
				background-repeat: no-repeat
				background-size: cover
				height: 20px
				width: 20px

			img
				margin-right: 5px
				width: 40px
				height: 40px

			span
				padding: 0 20px
				padding-top: 20px
				margin-bottom: 20px
				display: inline-block
				position: relative
				top: 0
				line-height: 15px
				font-size: 12px
				font-weight: 500
				text-align: left


// results
.results
	.container
		padding: 20px

	p
		&.name
			padding: 0 10px
			margin-bottom: 20px

		&.ps
			margin-bottom: 20px
			color: #2326ba
			font-size: 12px
			font-weight: 600
			text-align: center

	.title
		text-align: center
		font-size: 23px
		font-weight: 600
		line-height: 30px
		letter-spacing: -0.7px

	.result-canvas
		margin-bottom: 20px
		position: relative

		canvas
			padding: 8%
			margin: 0 auto
			display: block
			height: 100%
			width: 100%
			max-height: 100%
			max-width: 100%

			+breakpoint(pad-portrait)
				padding: 0%


		.avg
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			height: 40px
			width: 40px
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			background: white
			border-radius: 100px
			border: 1px solid #f2f2f2

		&:after
			content: ''
			position: absolute
			top: 0
			height: 100%
			width: 100%
			background-image: url(../img/text.png)
			background-repeat: no-repeat
			background-size: cover
			z-index: 1

	.function
		margin-bottom: 40px
		position: relative
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap

		> *
			margin: 0 5px

		a.download
			display: inline-block
			width: 40px
			height: 40px
			background: #1877f2
			border-radius: 100px

			img
				padding: 9px

		a.fbshare
			// padding: 12px
			// display: inline-flex
			// justify-content: center
			// align-content: center
			// color: white
			// background: #026ae3
			// border-radius: 30px

			// span
			// 	margin-right: 4px
			// 	display: inline-block
			// 	font-size: 14px

			// img
			// 	width: 15px
			// 	height: 15px

	.card
		display: flex
		align-items: center

		.img
			padding-bottom: 30%
			width: 30%
			background-repeat: no-repeat
			background-size: contain

		span
			width: 70%
			font-size: 14px
			line-height: 20px

	.stairs
		background-repeat: no-repeat
		background-position: center
		background-size: 70%
		width: 100%
		display: inline-block
		padding-bottom: 70%

	
	.avr-score
		margin-bottom: 80px
		position: relative

		&:after
			content: ''
			position: absolute
			bottom: -40px
			left: 50%
			width: 33%
			height: 1px
			background: lightgray
			transform: translateX(-50%)
		
		.title
			margin-bottom: 20px
			font-size: 13px
			line-height: 20px
			text-align: left

			.status
				margin-left: 5px
				padding: 5px 6px
				display: inline-block
				border-radius: 5px
				font-size: 12px
				font-weight: 300
				line-height: 12px

				&.style1
					background: #dfbaba

				&.style2
					background: #fadbb8

				&.style3
					background: #c7f0f4

				&.style4
					background: #d4f8d7
		
		.content
			margin-bottom: 20px
			font-size: 14px
			line-height: 20px

			a
				color: black
				text-decoration: underline

	.about,
	.balance,
	.other
		.title
			margin-bottom: 20px
		
		.content
			margin-bottom: 20px
			font-size: 13px
			line-height: 20px
			text-align: center

		.sp
			margin-bottom: 50px
			display: flex
			flex-wrap: wrap
			justify-content: center
			align-items: center
			font-size: 50px
			font-weight: bold
			text-align: center

			a
				margin-right: 20px
				margin-bottom: 20px
				position: relative
				width: calc(33.333% - 20px*2/3)
				border-radius: 14%
				border: 5px solid #d4d4d4
				overflow: hidden

				&:nth-child(3n)
					margin-right: 0px

				+breakpoint(mobile-landscape)
					margin-right: 10px
					width: calc(50% - 10px)

					&:nth-child(3n)
						margin-right: 10px						

					&:nth-child(2n)
						margin-right: 0px


				.title
					position: absolute
					top: 50%
					width: 100%
					transform: translateY(-50%)
					color: white
					font-size: 14px
					text-align: center
				
				.img
					padding-bottom: 100%
					width: 100%
					background-repeat: no-repeat
					background-size: cover
					background-position: center

	.other
		margin-top: 150px

	.dimensions
		padding: 0
		margin-top: 40px
		margin-bottom: 80px
		position: relative

		&:after
			content: ''
			position: absolute
			bottom: -40px
			left: 50%
			width: 33%
			height: 1px
			background: lightgray
			transform: translateX(-50%)

		li
			margin-bottom: 10px
			position: relative

		p
			margin: 0
			padding: 10px 10px
			display: flex
			align-items: center
			width: 100%
			background: #f8f8f8
			border-radius: 2px
			font-size: 20px
			font-weight: 400
			line-height: 34px

		.arrow
			position: absolute
			right: 20px
			top: 20px
			background-image: url(./img/icons/down-arrow.png)
			background-repeat: no-repeat
			background-size: cover
			height: 20px
			width: 20px

		img
			margin-right: 5px
			width: 40px
			height: 40px

		span
			padding: 0 20px
			padding-top: 20px
			margin-bottom: 20px
			display: inline-block
			position: relative
			line-height: 15px
			font-size: 12px
			font-weight: 500
			text-align: left


//keyframe
@keyframes morph
	0%,
	100%
		border-radius: 38% 68% 60% 30% / 30% 30% 67% 80%
	
	20%
		border-radius: 40% 62% 42% 58% / 46% 51% 49% 59%

	40%
		border-radius: 67% 43% 64% 58% / 64% 48% 52% 36%

	60%
		border-radius: 47% 47% 51% 49% / 41% 65% 35% 63%
	
	80%
		border-radius: 41% 63% 51% 49% / 49% 30% 70% 60%

@keyframes morph2
	0%,
	100%
		border-radius: 39% 64% 50% 60% / 34% 76% 36% 83%
	
	20%
		border-radius: 63% 49% 85% 51% / 77% 52% 69% 54%

	40%
		border-radius: 54% 61% 71% 49% / 41% 49% 39% 51%

	60%
		border-radius: 51% 81% 59% 68% / 38% 81% 40% 65%
	
	80%
		border-radius: 92% 31% 89% 33% / 62% 38% 59% 38%

@keyframes change
	100%
		background-position: 100% 50%
	
@keyframes rotate
	0%
		transform: rotateZ(0deg)

	100%
		transform: rotateZ(360deg)

@keyframes bounce-in
	0%
		transform: scale(0)
	
	50%
		transform: scale(1.5)
	
	100%
		transform: scale(1)

// vue css
.slide-enter-active
	transition: all .3s ease

.slide-leave-active
	transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-enter,
.slide-leave-to
	height: auto
	transform: translateX(10px)
	opacity: 0
		
.slideDown-enter-active,
.slideDown-leave-active
	transition: all .5s ease

.slideDown-enter-from,
.slideDown-leave-to
	height: 0
	opacity: 0