@charset "utf-8"

@import mixins/_rwd
@import mixins/_font
@import mixins/_universal

.container
    margin: 0 auto
    display: block
    width: 1120px
    max-width: calc(100% - 20px)

.swiper
    position: relative
    overflow: hidden

    .swiper-wrapper
        position: relative

    .swiper-slide
        text-align: center

        .q-card
            padding: 20px 0

            .option-box
                padding: 3px 0
                display: flex
                justify-content: center
                align-items: center

                .option
                    margin: 0px
                    margin-right: -1px
                    height: 4px
                    width: 20px
                    border: 1px solid gray
                    cursor: pointer
                    background: lightgray

                    &:first-of-type
                        border-radius: 5px 0px 0px 5px

                    &:last-of-type
                        margin-right: 1px
                        border-radius: 0px 5px 5px 0px

                    &.active ~ .option
                        background: transparent

.function-box
    margin: 20px 0
    display: inline-block
    width: 100%
    position: relative

    .swiper-pagination-progressbar
        height: 4px
        top: 0
        width: 100%