<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="XXX的測驗結果">
    <meta property="og:image" content="https://rogeryeeaah.github.io/hm/img/1.jpg">
    <title>NesswellnessWheel - Know about your self</title>
    <script src="scripts/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/axios/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./scripts/jquery/jquery.min.js"></script>
    <script src="./scripts/swiper/swiper-bundle.min.js"></script>
    <script src="./scripts/popper/popper.min.js"></script>
    <script src="./scripts/tippy/tippy.js"></script>
    <link rel="stylesheet" href="./styles/swiper/swiper.min.css">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/custom.css">
  </head>
  <body class="cate-01">
    <div class="question-page">
      <div class="container" id="app">
        <div class="function-box">
          <div class="swiper-pagination"></div><span class="des">Completed</span>
        </div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <qs :qs="questions"></qs>
          </div>
          <div class="process-box"><span class="current">5</span><span>/ </span><span class="total">40</span><span>questions answered</span></div>
          <div class="swiper-next">Next</div>
          <div class="swiper-prev">Back</div>
        </div>
        <div class="submit-box">
          <button class="show" id="submit" type="submit" value="Submit">Submit</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="logo-box"><span>Powered by</span>
          <div class="logo" style="background-image: url(./img/logo.png)"></div>
        </div>
      </div>
    </div>
    <script id="qs" type="text/x-template">
      <div class="swiper-slide" v-for="(items, index) in qs" :key="index" :class="index===qs.length-1?'last-one':''">
        <div class="title-box">
          <div class="title">{{ items.cate }}
            <button id="des" :data-tippy-content="items.des">i</button>
          </div>
        </div>
        <div class="scroll-box">
          <qc :qc="qs[index]"></qc>
        </div>
      </div>
    </script>
    <script id="qc" type="text/x-template">
      <div class="q-card" v-for="(items, index) in qc.content" :key="index" :qus="index+=1">
        <div class="question">{{ items.title }}</div>
        <div class="option-box">
          <p>Rarely</p>
          <sp :sp="items" :qc="qc"></sp>
          <p>Always</p>
        </div>
      </div>
    </script>
    <script id="sp" type="text/x-template">
      <div class="box" v-for="index in qc.options">
        <label :class="activeClass == index ? 'option active':'option'" :for="sp.id+'-'+index" @click="onAnswerClick(index)"> </label>
        <input type="radio" :id="sp.id+'-'+index" :key="index" :name="sp.id">
      </div>
    </script>
    <script>
      const app = Vue.createApp({
      	data() {
      		return {
      			questions: {},
      			totalQ: ''
      		}
      	},
      	created: function() {
      		this.onSliderInfoCatch();
      	},
      	mounted: function() {
      		var swiper = new Swiper(".mySwiper", {
      			slidePerView: '1',
      			pagination: {
      				el: ".swiper-pagination",
      				type: "progressbar",
      			},
      			navigation: {
      				nextEl: ".swiper-next",
      				prevEl: ".swiper-prev",
      			},
      		});
      	},
      	methods: {
      		onSliderInfoCatch: function() {
      			var sObj = {};
      			axios.get('api/data_question.json', sObj)
      				.then(function (res) {
      					this.questions = res.data.questions
      				}.bind(this))
      				.catch(function (error) {
      					console.log(error)
      				}
      			);
      		}
      	}
      });
      
      app.component('qs', {
      	template: '#qs',
      	props:['qs']
      });
      
      app.component('qc', {
      	template: '#qc',
      	props:['qc']
      });
      
      app.component('sp', {
      	template: '#sp',
      	data: function () {
      		return {
      			activeClass: -1
      		}
      	},
      	props:['sp', 'qc'],
      	methods: {
      		onAnswerClick: function(index){
      			this.activeClass = index;
      		},
      	}
      });
      
      app.mount('#app');
    </script>
  </body>
</html>