<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="334437811929428">
    <meta name="og:url" content="http://uat.erduo.tw/wellness_wheel/index.html">
    <meta name="og:image" content="http://uat.erduo.tw/wellness_wheel/img/siteShare.png">
    <meta name="og:description" content="The ness Wellness Wheel is a great way to view your life from a bird's eye perspective and identify where you are at this moment in time while also discovering where you want it to be.">
    <meta name="og:title" content="nesswellnesswheel">
    <meta name="og:site_name" content="nesswellnesswheel">
    <meta name="og:type" content="website">
    <link rel="icon" href="img/icons/favicon.ico">
    <title>NesswellnessWheel</title>
    <script src="scripts/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8"></script>
    <script src="./scripts/jquery/jquery.min.js"></script>
    <script src="./scripts/jquery/jquery-ui.js"></script>
    <script src="./scripts/axios/axios.min.js"></script>
    <script src="./scripts/data.js"></script>
    <link rel="stylesheet" href="./styles/jquery/jquery-ui.css">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/custom.css">
  </head>
  <body>
    <div class="form" id="app" action="question_page.html">
      <div class="cover" :class="loading === false? 'just-none':''">
        <p>loading</p>
      </div>
      <div class="container">
        <div class="title-box t-C">
          <div class="title">Tell us a little about yourself first...</div>
        </div>
        <form>
          <div class="col-1 m-B-30 flex">
            <input id="name" type="text" v-model="name" :placeholder="info.name" required>
          </div>
          <div class="col-1 m-B-30 flex">
            <input type="email" v-model="email" required="required" :placeholder="info.email" pattern="^[A-Za-z0-9]+([_.][A-Za-z0-9]+)*@([A-Za-z0-9-]+.)+[A-Za-z]{2,6}$">
          </div>
          <div class="col-1 m-B-30 flex">
            <div class="title">{{ info.birthday }}</div>
            <input id="datepicker" type="text" v-model="date" name="date" placeholder="YYYY / MM / DD">
          </div>
          <div class="col-1 m-B-30 flex">
            <div class="title">{{ info.gender }}</div>
            <div class="radio">
              <input :id="info.genderOpt[0]" type="radio" name="gender" v-model="gender" value="Male" required>
              <label :for="info.genderOpt[0]">{{ info.genderOpt[0] }}</label>
              <input :id="info.genderOpt[1]" type="radio" name="gender" v-model="gender" value="Female" required>
              <label :for="info.genderOpt[1]">{{ info.genderOpt[1] }}</label>
              <input :id="info.genderOpt[2]" type="radio" name="gender" v-model="gender" value="Other" required>
              <label :for="info.genderOpt[2]">{{ info.genderOpt[2] }}</label>
            </div>
          </div><a class="m-H-40">
            <input type="submit" value="Submit"></a>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="logo-box"><span>Powered by</span>
          <div class="logo" style="background-image: url(./img/logo.png)"></div>
        </div>
      </div>
    </div>
    <script>
      const app = Vue.createApp({
      	data() {
      		return {
      			info: [],
      			name: '',
      			email: '',
      			date: '',
      			gender: '',
      			len: localStorage.len,
      			personInfo: [],
      			loading: false
      		}
      	},
      	created: function() {
      		this.onContentCatch();
      	},
      	mounted: function() {
      		//- dtpk
      		var self = this
      		$("#datepicker").datepicker({
      			dateFormat: 'yy / mm / dd',
      			changeYear: true,
      			changeMonth: true,
      			yearRange : "1990:2022",
      			onSelect: function(date) {
      				self.date = date
      			}
      		});
      
      		//- 資料驗證
      		$('form').submit(function(e) {
      			e.preventDefault();
      			if(!$('input[name="gender"]:checked').val()) {
      				$('input[name="gender"]')[0].setCustomValidity("Please select one of the genders.");
      				this.reportValidity();
      				return;
      			}
      			self.dataPost();
      			localStorage.name = self.name;
      		});
      	},
      	methods: {
      		onContentCatch: function() {
      			if(this.len === 'en') {
      				this.info = pageData.en.info;
      			} else if(this.len === '中') {
      				this.info = pageData.ch.info;
      			} else {
      				this.info = pageData.en.info;
      			}
      		},
      		dataPost: function() {
      			window.document.querySelector('body').style['overflow'] = 'hidden';
      			this.loading = !this.loading;
      
      			$.ajax({
      				type: "post",
      				url: "https://script.google.com/macros/s/AKfycbxVVzKa8l69upXg_caUucSd3Po7DAMLIQLwpNrQCCIbRO59Oel3dIYjyqmAkaS8fbXS/exec",
      				data: {
      					"user_email": this.email,
      					"user_name": this.name,
      					"user_birthday": this.date,
      					"user_gender": this.gender
      				},
      				success: function() {
      					window.location.href = './question_page.html';
      				}
      			});
      		}
      	}
      });
      
      app.mount('#app');
    </script>
  </body>
</html>