doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(property="og:title" content="XXX的測驗結果")
		meta(property="og:image" content="https://rogeryeeaah.github.io/hm/img/1.jpg")
		title NesswellnessWheel - Know about your self
		
		link(rel="stylesheet", href="./styles/reset.css")
		link(rel="stylesheet", href="./styles/custom.css")
		link(rel="stylesheet", href="./styles/jquery/jquery-ui.css")
		
		script(src="./scripts/jquery/jquery.min.js")
		script(src="./scripts/jquery/jquery-ui.js")


	body
		.form(action="question_page.html")
			.container
				.title-box.t-C
					.title Info about you
					.des leave your message
				form
					.col-1.m-B-40.flex
						span.title Name
						input#name(type="text" required)
					.col-1.m-B-40.flex
						span.title Email
						input(type="email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
					.col-1.m-B-40.flex
						span.title Birthday
						input#datepicker(type="text" name="date" pattern="[0-9]{4}\/[0-9]{2}\/[0-9]{2}")
					.col-1.m-B-40.flex
						span.title Gender
						.radio
							label
								input(type="radio" name="gender" value="Male" required)
								| Male
							label
								input(type="radio" name="gender" value="Female" required)
								| Female
							label
								input(type="radio" name="gender" value="Other" required)
								| Other
					a(href="question_page.html")
						input(type="submit" value="submit")

		include ./include/footer
		
		script.
			$(document).ready(function() {
				//- dtpk
				$("#datepicker").datepicker({
					dateFormat: 'yy/mm/dd',
				});


				//- 資料驗證
				$('form').submit(function(e) {
					e.preventDefault();
					if(!$('input[name="gender"]:checked').val()) {
						$('input[name="gender"]')[0].setCustomValidity("Please select one of the genders.");
						this.reportValidity();
						return;
					}
					this.submit();
				});
			}) 