doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(property="og:title" content="XXX的測驗結果")
		meta(property="og:image" content="https://rogeryeeaah.github.io/hm/img/1.jpg")
		title NesswellnessWheel - Know about your self

		script(src="./scripts/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8")
		script(src="./scripts/jquery/jquery.min.js")
		script(src="./scripts/chart/chart.min.js")
		script(src="./scripts/svg.js")
		script(src="./scripts/chart/chartjs-plugin-datalabels.js")
		script(src="./scripts/data.js")

		link(rel="stylesheet", href="./styles/reset.css")
		link(rel="stylesheet", href="./styles/custom.css")
		
	body
		include ./include/header

		#app.index
			.container
				.title-box
					span.uppercase
						small
							strong powered by +ness wellness
					.title Wellness
						br
						| Wheel
     
				.divider
				.artical
					div(v-for="(items, index) in info.article" key="index")
						p(v-if="items.type === 'title'") {{ items.content }}
						span(v-if="items.type === 'article'") {{ items.content }}
						a(v-if="items.type === 'button'" :href="items.url") {{ items.content }}
						span.link(v-if="items.type === 'link'")
							span(v-html="items.content")
						.simulator(v-if="items.type === 'svg'")
							.amoeba
							svg#eTgtWUYQsnf1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 651.2 651.2" shape-rendering="geometricPrecision" text-rendering="geometricPrecision")
								g#eTgtWUYQsnf2
									circle#eTgtWUYQsnf3(r="325.1" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf4(r="290.88" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf5(r="258.15" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf6(r="228.39" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf7(r="195.66" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf8(r="162.92" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf9(r="130.19" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf10(r="97.46" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf11(r="64.72" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle#eTgtWUYQsnf12(r="34.96" transform="matrix(1 0 0 1 325.6 325.6)" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line#eTgtWUYQsnf13(x1="1.24" y1="325.6" x2="649.96" y2="325.6" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line#eTgtWUYQsnf14(x1="96.25" y1="554.95" x2="554.95" y2="96.25" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line#eTgtWUYQsnf15(x1="325.6" y1="649.96" x2="325.6" y2="1.24" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line#eTgtWUYQsnf16(x1="554.95" y1="554.95" x2="96.25" y2="96.25" fill="none" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf17(d="M331.4,73.13L331.4,331.35L232.7,232.77L148.7,148.77C197.108809,100.250244,262.861186,73.027968,331.4,73.13Z" transform="matrix(1.261257 0 0 1.261257 -92.094127 -92.235787)" fill="rgb(243,180,216)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf18(d="M170,169.91L331.4,331.35L208.05,331.43L103,331.43C102.950106,270.819421,127.063049,212.689235,170,169.91Z" transform="matrix(1.27316 0 0 1.273159 -96.415381 -97.00995)" fill="rgb(164,175,195)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf19(d="M135.8,331.35L331.4,331.35L256.72,406.12L193.11,469.73C156.354763,433.066555,135.72941,383.264841,135.8,331.35Z" transform="matrix(1.319851 0 0 1.319851 -111.785617 -111.748183)" fill="rgb(231,194,180)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf20(d="M216.18,446.57L331.4,331.35L331.45,419.35L331.45,494.3C288.207075,494.357965,246.723813,477.180936,216.18,446.57Z" transform="matrix(1.414851 0 0 1.414851 -143.182581 -143.968767)" fill="rgb(241,224,155)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf21(d="M331.4,461.14L331.4,331.35L381,380.9L423.21,423.11C398.884318,447.495316,365.843877,461.181493,331.4,461.14Z" transform="matrix(1.506532 0 0 1.506532 -173.561486 -173.462224)" fill="rgb(232,208,235)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf22(d="M400.22,400.18L331.4,331.35L383.98,331.35L428.75,331.35C428.773474,357.174789,418.506384,381.944638,400.22,400.18Z" transform="matrix(1.67171 0 0 1.671704 -228.225704 -228.243936)" fill="rgb(181,203,205)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf23(d="M395.91,331.35L331.4,331.35L356,306.69L377,285.69C389.13141,297.785081,395.937604,314.219287,395.91,331.35Z" transform="matrix(2.019393 0 0 2.019396 -343.707896 -344.137107)" fill="rgb(168,217,253)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								path#eTgtWUYQsnf24(d="M356.22,306.53L331.4,331.35L331.4,296.24C340.712839,296.231334,349.645137,299.93453,356.22,306.53Z" transform="matrix(2.918219 0 0 2.918219 -641.41023 -641.525335)" fill="rgb(179,243,209)" stroke="rgb(242,242,242)" stroke-width="1" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
						ul.demensions(v-if="items.type === 'category'")
							list(:list="info.category")

				
				include ./include/inline-footer
							

		script#list(type="text/x-template")
			li(v-for="(items, i) in list" @click="show = !show, openNot(i)" :key="i" :class="{active: i === activeItem}")
				p
					img(:src="items.logo", alt="")
					|  {{ items.title }}
				.arrow(:style="i === activeItem?'background-image: url(./img/icons/down-arrow.png)':'background-image: url(./img/icons/up-arrow.png)'")
				span(v-if="i === activeItem? show:!show") {{ items.info }}

		script.
			const app = Vue.createApp({
				data() {
					return {
						info: []
					}
				},
				created: function() {
					this.oninfoCatch();
				},
				mounted: function() {
					(function (s, i, o, w) {
						w[o] = w[o] || {};
						w[o][s] = w[o][s] || [];
						w[o][s].push(i);
					}) ('5c7f360c', {
						"root": "eTgtWUYQsnf1",
						"animations": [{
							"elements": {
								"eTgtWUYQsnf17": {
									"transform": {
										"data": {
											"o": {
												"x": 325.536854,
												"y": 325.190651,
												"type": "corner"
											},
											"t": {
												"x": -331.122825,
												"y": -330.960651
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 1.261257,
													"y": 1.261257
												}
											}, {
												"t": 1000,
												"v": {
													"x": 0.134005,
													"y": 0.134005
												}
											}, {
												"t": 2000,
												"v": {
													"x": 0.249429,
													"y": 0.249429
												}
											}, {
												"t": 3000,
												"v": {
													"x": 0.394276,
													"y": 0.394276
												}
											}, {
												"t": 4000,
												"v": {
													"x": 0.497665,
													"y": 0.497665
												}
											}, {
												"t": 5000,
												"v": {
													"x": 0.6303,
													"y": 0.6303
												}
											}, {
												"t": 6000,
												"v": {
													"x": 0.757283,
													"y": 0.757283
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.891734,
													"y": 0.891734
												}
											}, {
												"t": 8000,
												"v": {
													"x": 0.999651,
													"y": 0.999651
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.126595,
													"y": 1.126595
												}
											}, {
												"t": 10000,
												"v": {
													"x": 1.251635,
													"y": 1.251635
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf18": {
									"transform": {
										"data": {
											"o": {
												"x": 326.069878,
												"y": 324.355581,
												"type": "corner"
											},
											"t": {
												"x": -331.839878,
												"y": -330.960651
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 1.27316,
													"y": 1.273159
												}
											}, {
												"t": 1000,
												"v": {
													"x": 1.424883,
													"y": 1.424874
												}
											}, {
												"t": 2000,
												"v": {
													"x": 0.154824,
													"y": 0.15482
												}
											}, {
												"t": 3000,
												"v": {
													"x": 0.284871,
													"y": 0.284868
												}
											}, {
												"t": 4000,
												"v": {
													"x": 0.42663,
													"y": 0.42663
												}
											}, {
												"t": 5000,
												"v": {
													"x": 0.570967,
													"y": 0.570966
												}
											}, {
												"t": 6000,
												"v": {
													"x": 0.713992,
													"y": 0.713992
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.857061,
													"y": 0.857061
												}
											}, {
												"t": 8000,
												"v": {
													"x": 1.000087,
													"y": 1.000087
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.130135,
													"y": 1.130135
												}
											}, {
												"t": 10000,
												"v": {
													"x": 1.273161,
													"y": 1.273161
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf19": {
									"transform": {
										"data": {
											"o": {
												"x": 325.683137,
												"y": 326.365118,
												"type": "corner"
											},
											"t": {
												"x": -331.453137,
												"y": -331.941485
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 1.319851,
													"y": 1.319851
												}
											}, {
												"t": 1000,
												"v": {
													"x": 1.487137,
													"y": 1.487137
												}
											}, {
												"t": 2000,
												"v": {
													"x": 1.658271,
													"y": 1.658271
												}
											}, {
												"t": 3000,
												"v": {
													"x": 0.185216,
													"y": 0.185216
												}
											}, {
												"t": 4000,
												"v": {
													"x": 0.331215,
													"y": 0.331215
												}
											}, {
												"t": 5000,
												"v": {
													"x": 0.498551,
													"y": 0.498551
												}
											}, {
												"t": 6000,
												"v": {
													"x": 0.66585,
													"y": 0.66585
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.833122,
													"y": 0.833122
												}
											}, {
												"t": 8000,
												"v": {
													"x": 1.000459,
													"y": 1.000459
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.167746,
													"y": 1.167746
												}
											}, {
												"t": 10000,
												"v": {
													"x": 1.319851,
													"y": 1.319851
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf20": {
									"transform": {
										"data": {
											"o": {
												"x": 325.463577,
												"y": 324.325768,
												"type": "corner"
											},
											"t": {
												"x": -331.233577,
												"y": -330.985054
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 1.414851,
													"y": 1.414851
												}
											}, {
												"t": 1000,
												"v": {
													"x": 1.583045,
													"y": 1.583045
												}
											}, {
												"t": 2000,
												"v": {
													"x": 1.783456,
													"y": 1.783456
												}
											}, {
												"t": 3000,
												"v": {
													"x": 1.996051,
													"y": 1.996051
												}
											}, {
												"t": 4000,
												"v": {
													"x": 0.216421,
													"y": 0.216421
												}
											}, {
												"t": 5000,
												"v": {
													"x": 0.398598,
													"y": 0.398598
												}
											}, {
												"t": 6000,
												"v": {
													"x": 0.600404,
													"y": 0.600404
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.804974,
													"y": 0.804974
												}
											}, {
												"t": 8000,
												"v": {
													"x": 1.005384,
													"y": 1.005384
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.205855,
													"y": 1.205855
												}
											}, {
												"t": 10000,
												"v": {
													"x": 1.41485,
													"y": 1.41485
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf21": {
									"transform": {
										"data": {
											"o": {
												"x": 326.365909,
												"y": 325.289486,
												"type": "corner"
											},
											"t": {
												"x": -331.839878,
												"y": -331.059486
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 1.506532,
													"y": 1.506532
												}
											}, {
												"t": 1000,
												"v": {
													"x": 1.777935,
													"y": 1.777935
												}
											}, {
												"t": 2000,
												"v": {
													"x": 1.986928,
													"y": 1.986928
												}
											}, {
												"t": 3000,
												"v": {
													"x": 2.238541,
													"y": 2.238541
												}
											}, {
												"t": 4000,
												"v": {
													"x": 2.491231,
													"y": 2.491231
												}
											}, {
												"t": 5000,
												"v": {
													"x": 0.271182,
													"y": 0.271182
												}
											}, {
												"t": 6000,
												"v": {
													"x": 0.499925,
													"y": 0.499925
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.751616,
													"y": 0.751616
												}
											}, {
												"t": 8000,
												"v": {
													"x": 1.003229,
													"y": 1.003229
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.254842,
													"y": 1.254842
												}
											}, {
												"t": 10000,
												"v": {
													"x": 1.506532,
													"y": 1.506532
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf22": {
									"transform": {
										"data": {
											"o": {
												"x": 325.408193,
												"y": 325.438301,
												"type": "corner"
											},
											"t": {
												"x": -331.178193,
												"y": -331.208298
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 1.67171,
													"y": 1.671704
												}
											}, {
												"t": 1000,
												"v": {
													"x": 2.007259,
													"y": 2.007254
												}
											}, {
												"t": 2000,
												"v": {
													"x": 2.342703,
													"y": 2.342692
												}
											}, {
												"t": 3000,
												"v": {
													"x": 2.64771,
													"y": 2.647699
												}
											}, {
												"t": 4000,
												"v": {
													"x": 2.983154,
													"y": 2.983142
												}
											}, {
												"t": 5000,
												"v": {
													"x": 3.326287,
													"y": 3.326287
												}
											}, {
												"t": 6000,
												"v": {
													"x": 0.360265,
													"y": 0.360265
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.665272,
													"y": 0.665272
												}
											}, {
												"t": 8000,
												"v": {
													"x": 1.00082,
													"y": 1.00082
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.336265,
													"y": 1.336265
												}
											}, {
												"t": 10000,
												"v": {
													"x": 1.67171,
													"y": 1.67171
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf23": {
									"transform": {
										"data": {
											"o": {
												"x": 325.738943,
												"y": 324.403095,
												"type": "corner"
											},
											"t": {
												"x": -331.508943,
												"y": -331.059486
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 2.019393,
													"y": 2.019396
												}
											}, {
												"t": 1000,
												"v": {
													"x": 2.527615,
													"y": 2.527617
												}
											}, {
												"t": 2000,
												"v": {
													"x": 3.035991,
													"y": 3.035995
												}
											}, {
												"t": 3000,
												"v": {
													"x": 3.544213,
													"y": 3.544213
												}
											}, {
												"t": 4000,
												"v": {
													"x": 4.006317,
													"y": 4.006318
												}
											}, {
												"t": 5000,
												"v": {
													"x": 4.514539,
													"y": 4.514543
												}
											}, {
												"t": 6000,
												"v": {
													"x": 5.034406,
													"y": 5.03441
												}
											}, {
												"t": 7000,
												"v": {
													"x": 0.54069,
													"y": 0.54069
												}
											}, {
												"t": 8000,
												"v": {
													"x": 1.002795,
													"y": 1.002795
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.511172,
													"y": 1.511172
												}
											}, {
												"t": 10000,
												"v": {
													"x": 2.019393,
													"y": 2.019393
												}
											}]
										}
									}
								},
								"eTgtWUYQsnf24": {
									"transform": {
										"data": {
											"o": {
												"x": 325.6,
												"y": 325.659988,
												"type": "corner"
											},
											"t": {
												"x": -331.37,
												"y": -331.43
											}
										},
										"keys": {
											"s": [{
												"t": 0,
												"v": {
													"x": 2.918219,
													"y": 2.918219
												}
											}, {
												"t": 1000,
												"v": {
													"x": 3.701335,
													"y": 3.701335
												}
											}, {
												"t": 2000,
												"v": {
													"x": 4.601967,
													"y": 4.601967
												}
											}, {
												"t": 3000,
												"v": {
													"x": 5.561807,
													"y": 5.561807
												}
											}, {
												"t": 4000,
												"v": {
													"x": 6.491967,
													"y": 6.491967
												}
											}, {
												"t": 5000,
												"v": {
													"x": 7.337596,
													"y": 7.337596
												}
											}, {
												"t": 6000,
												"v": {
													"x": 8.267689,
													"y": 8.267689
												}
											}, {
												"t": 7000,
												"v": {
													"x": 9.190745,
													"y": 9.190745
												}
											}, {
												"t": 8000,
												"v": {
													"x": 0.995169,
													"y": 0.995169
												}
											}, {
												"t": 9000,
												"v": {
													"x": 1.866312,
													"y": 1.866312
												}
											}, {
												"t": 10000,
												"v": {
													"x": 2.787146,
													"y": 2.787146
												}
											}]
										}
									}
								}
							},
							"s": "MEDA1NTg3MmVFNzA4MTKdlNmQ4MFc3NTdiTjdVhMmU0NjNkM2MzYzNjQM2MzODJlNzA3NTdlNWzE2ZjgwNzU3YjdhMmRU0NkEzZDM4MmU3NTgWwNzE3ZTZkODA3NTdiPN2E3ZjJlNDYzYzM4MCmU3Mjc1Nzg3ODJlNDMYzOTNkMzgyZTZkNzgB4MDcxN2VZN2FONmQ4TMDcxMmU0NjcyNmQ3OGDdmNzEzODJlN2Y3YzRcxNzE3MDJlUDQ2M2QE4OQ|"
						}],
						"options": "MDDAxMDg4MmY4MDgxNmPU3ZjgxMmY0NzJmSDcU5VzdjNmU3MTJmWDhhR"
					}, '__SVGATOR_PLAYER__', window);
				},
				methods: {
					oninfoCatch: function() {
						this.info = pageData.en.info;
					}
				}
			});
			
			app.component('list', {
				data() {
					return {
						activeItem: '',
						show: true
					}
				},
				template: '#list',
				props:['list'],
				methods: {
					openNot: function(i) {
						this.activeItem = i;
					}
				}
			});

			app.mount('#app');