doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(property="og:title" content="XXX的測驗結果")
		meta(property="og:image" content="https://rogeryeeaah.github.io/hm/img/1.jpg")
		title chart test
		script(src="./scripts/jquery/jquery.min.js")
		script(src="./scripts/chart/chart.min.js")
		script(src="./scripts/chart/chartjs-plugin-datalabels.js")
		
	body
		.container
			div
				canvas#polarChart
		div.socialShare
			div.sbutton.facebook-cresta-share.cresta-float-shadow#shareF
				a(rel="nofollow" href="#" data-name="Partager sur Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL),'targetWindow','toolbar=no,loc');return false;") facebook
					i.cs.c-icon-cresta-facebook
		script(src="./scripts/custom.js")