doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(property="og:title" content="XXX的測驗結果")
		meta(property="og:image" content="https://rogeryeeaah.github.io/hm/img/1.jpg")
		title NesswellnessWheel - Know about your self

		script(src="./scripts/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8")
		script(src="./scripts/jquery/jquery.min.js")
		script(src="./scripts/chart/chart.min.js")
		script(src="./scripts/chart/chartjs-plugin-datalabels.js")
		script(src="./scripts/data.js")

		link(rel="stylesheet", href="./styles/reset.css")
		link(rel="stylesheet", href="./styles/custom.css")
		link(rel="stylesheet", href="./styles/animation.css")
		
	body
		include ./include/header

		#app.index
			.container
				.title-box
					span.uppercase
						small
							strong powered by +ness wellness
					.title Wellness
						br
						| Wheel
     
				.divider
				.article
					div(v-for="(items, index) in info.article" key="index")
						p(v-if="items.type === 'title'" :id="items.id === 'anchor'? '':items.anchor") {{ items.content }}
						span(v-if="items.type === 'article'") {{ items.content }}
						a(v-if="items.type === 'button'" :href="items.url") {{ items.content }}
						span.link(v-if="items.type === 'link'")
							span(v-html="items.content")
						.simulator(v-if="items.type === 'svg'")
							.amoeba
							svg#ePz7kJ65AYM1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 651.2 651.2" shape-rendering="geometricPrecision" text-rendering="geometricPrecision")
								g
									circle(r="325.1" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="290.88" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="258.15" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="228.39" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="195.66" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="162.92" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="130.19" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="97.46" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="64.72" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									circle(r="34.96" transform="translate(325.6 325.6)" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line(x1="1.24" y1="325.6" x2="649.96" y2="325.6" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line(x1="96.25" y1="554.95" x2="554.95" y2="96.25" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line(x1="325.6" y1="649.96" x2="325.6" y2="1.24" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
									line(x1="554.95" y1="554.95" x2="96.25" y2="96.25" fill="none" stroke="#dddddd" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								
								//- ver2
								g#ePz7kJ65AYM17_ts(transform="translate(325.352826,325.190651) scale(0.757283,0.757283)")
									path(d="M331.4,73.13v258.22l-98.7-98.58-84-84c48.408809-48.519756,114.161186-75.742032,182.7-75.64Z" transform="translate(-331.122825,-330.960651)" fill="#bbebf7" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM18_ts(transform="translate(326.069878,325.190651) scale(1.004282,1.004281)")
									path(d="M170,169.91L331.4,331.35l-123.35.08h-105.05c-.049894-60.610579,24.063049-118.740765,67-161.52Z" transform="translate(-331.839878,-330.960651)" fill="#e9d3f9" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM19_ts(transform="translate(325.683137,326.440711) scale(1.319852,1.319852)")
									path(d="M135.8,331.35h195.6l-74.68,74.77-63.61,63.61c-36.755237-36.663445-57.38059-86.465159-57.31-138.38Z" transform="translate(-331.453137,-331.941485)" fill="#f4e2f0" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM20_ts(transform="translate(325.463577,327.199805) scale(1.771296,1.771303)")
									path(d="M216.18,446.57L331.4,331.35l.05,88v74.95c-43.242925.057965-84.726187-17.119064-115.27-47.73Z" transform="translate(-331.233577,-330.985054)" fill="#ffcddd" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM21_ts(transform="translate(326.069878,325.289486) scale(1.507507,1.50749)")
									path(d="M331.4,461.14v-129.79L381,380.9l42.21,42.21c-24.325682,24.385316-57.366123,38.071493-91.81,38.03Z" transform="translate(-331.839878,-331.059486)" fill="#fbead6" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM22_ts(transform="translate(325.408193,327.635886) scale(2.342703,2.342703)")
									path(d="M400.22,400.18L331.4,331.35h52.58h44.77c.023474,25.824789-10.243616,50.594638-28.53,68.83Z" transform="translate(-331.178193,-331.208298)" fill="#eef8d4" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM23_ts(transform="translate(326.540136,326.747067) scale(4.006317,4.006319)")
									path(d="M395.91,331.35h-64.51L356,306.69l21-21c12.13141,12.095081,18.937604,28.529287,18.91,45.66Z" transform="translate(-331.508943,-331.059486)" fill="#d3f9d4" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								g#ePz7kJ65AYM24_ts(transform="translate(325.902585,326.098642) scale(8.26769,8.26769)")
									path(d="M356.22,306.53L331.4,331.35v-35.11c9.312839-.008666,18.245137,3.69453,24.82,10.29Z" transform="translate(-331.37,-331.43)" fill="#d2f9f4" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")

								//- ver1
								//- g#ePz7kJ65AYM17_ts(transform="translate(325.352826,325.190651) scale(0.757283,0.757283)")
								//- 	path(d="M331.4,73.13v258.22l-98.7-98.58-84-84c48.408809-48.519756,114.161186-75.742032,182.7-75.64Z" transform="translate(-331.122825,-330.960651)" fill="#e062ab" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM18_ts(transform="translate(326.069878,325.190651) scale(1.004282,1.004281)")
								//- 	path(d="M170,169.91L331.4,331.35l-123.35.08h-105.05c-.049894-60.610579,24.063049-118.740765,67-161.52Z" transform="translate(-331.839878,-330.960651)" fill="#e69e58" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM19_ts(transform="translate(325.683137,326.440711) scale(1.319852,1.319852)")
								//- 	path(d="M135.8,331.35h195.6l-74.68,74.77-63.61,63.61c-36.755237-36.663445-57.38059-86.465159-57.31-138.38Z" transform="translate(-331.453137,-331.941485)" fill="#e49e81" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM20_ts(transform="translate(325.463577,327.199805) scale(1.771296,1.771303)")
								//- 	path(d="M216.18,446.57L331.4,331.35l.05,88v74.95c-43.242925.057965-84.726187-17.119064-115.27-47.73Z" transform="translate(-331.233577,-330.985054)" fill="#e4ca55" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM21_ts(transform="translate(326.069878,325.289486) scale(1.507507,1.50749)")
								//- 	path(d="M331.4,461.14v-129.79L381,380.9l42.21,42.21c-24.325682,24.385316-57.366123,38.071493-91.81,38.03Z" transform="translate(-331.839878,-331.059486)" fill="#be79ff" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM22_ts(transform="translate(325.408193,327.635886) scale(2.342703,2.342703)")
								//- 	path(d="M400.22,400.18L331.4,331.35h52.58h44.77c.023474,25.824789-10.243616,50.594638-28.53,68.83Z" transform="translate(-331.178193,-331.208298)" fill="#ee7777" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM23_ts(transform="translate(326.540136,326.747067) scale(4.006317,4.006319)")
								//- 	path(d="M395.91,331.35h-64.51L356,306.69l21-21c12.13141,12.095081,18.937604,28.529287,18.91,45.66Z" transform="translate(-331.508943,-331.059486)" fill="#72b5f0" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")
								//- g#ePz7kJ65AYM24_ts(transform="translate(325.902585,326.098642) scale(8.26769,8.26769)")
								//- 	path(d="M356.22,306.53L331.4,331.35v-35.11c9.312839-.008666,18.245137,3.69453,24.82,10.29Z" transform="translate(-331.37,-331.43)" fill="#8de2ba" stroke="#f2f2f2" stroke-miterlimit="10" vector-effect="non-scaling-stroke")

						ul.dimensions(v-if="items.type === 'category'")
							list(:list="info.category")

				include ./include/inline_footer
							

		script#list(type="text/x-template")
			li(v-for="(items, i) in list" @click="openNot(i)" key="i" :class="{active: i === activeItem}")
				p
					img(:src="items.logo", alt="")
					|  {{ items.title }}
				.arrow(:style="i === activeItem?'background-image: url(./img/icons/up-arrow.png)':'background-image: url(./img/icons/down-arrow.png)'")
				transition(name="slideDown")
					span(v-if="i === activeItem? show:!show") {{ items.info }}

		script.
			const app = Vue.createApp({
				data() {
					return {
						info: [],
						category: [],
						len: localStorage.len
					}
				},
				created: function() {
					this.onInfoCatch();
					this.onCateCatch();
					this.onLenCatch();
				},
				methods: {
					onInfoCatch: function() {
						if(this.len === 'en') {
							this.info = pageData.en.info;
						} else if(this.len === '中') {
							this.info = pageData.ch.info;
						} else {
							this.info = pageData.en.info;
						}
					},
					onCateCatch: function() {
						if(this.len === 'en') {
							this.category = pageData.en.category;
						} else if(this.len === '中') {
							this.category = pageData.ch.category;
						} else {
							this.category = pageData.en.category;
						}
					},
					onLenCatch: function() {
						this.len = localStorage.len;
					}
				}
			});
			
			app.component('list', {
				data() {
					return {
						activeItem: '',
						show: true
					}
				},
				template: '#list',
				props:['list'],
				methods: {
					openNot: function(i) {
						if(this.activeItem === i) {
							this.activeItem = null;
						} else {
							console.log('2')
							this.activeItem = i;
						}
					}
				}
			});

			app.mount('#app');