// ---------------------------------
// ----------- Universal -----------
// ---------------------------------

*
    font-family: GenWanMin, serif

a
    text-decoration: none

// -------- padding & margin -------
.p-0
    padding: 0 !important

.p-10
    padding: 10px !important

.p-R-10
    padding-right: 10px !important

.p-L-10
    padding-left: 10px !important

.p-T-10
    padding-top: 10px !important

.p-B-10
    padding-bottom: 10px !important

.p-H-10
    padding: 0 10px !important

.p-V-10
    padding: 10px 0 !important

.p-20
    padding: 20px !important

.p-R-20
    padding-right: 20px !important

.p-L-20
    padding-left: 20px !important

.p-T-10
    padding-top: 10px !important

.p-B-10
    padding-bottom: 10px !important

.p-H-20
    padding: 0 20px !important

.p-V-20
    padding: 20px 0 !important

.p-30
    padding: 30px !important

.p-R-30
    padding-right: 30px !important

.p-L-30
    padding-left: 30px !important

.p-T-30
    padding-top: 30px !important

.p-B-30
    padding-bottom: 30px !important

.p-H-30
    padding: 0 30px !important

.p-V-30
    padding: 30px 0 !important

.p-40
    padding: 40px !important

.p-R-40
    padding-right: 40px !important

.p-L-40
    padding-left: 40px !important

.p-T-40
    padding-top: 40px !important

.p-B-40
    padding-bottom: 40px !important

.p-H-40
    padding: 0 40px !important

.p-V-40
    padding: 40px 0 !important

.p-60
    padding: 60px !important

.p-R-60
    padding-right: 60px !important

.p-L-60
    padding-left: 60px !important

.p-T-60
    padding-top: 60px !important

.p-B-60
    padding-bottom: 60px !important

.p-H-60
    padding: 0 60px !important

.p-V-60
    padding: 60px 0 !important

.p-80
    padding: 80px !important

.p-R-80
    padding-right: 80px !important

.p-L-80
    padding-left: 80px !important

.p-T-80
    padding-top: 80px !important

.p-B-80
    padding-bottom: 80px !important

.p-H-80
    padding: 0 80px !important

.p-V-80
    padding: 80px 0 !important

.p-100
    padding: 100px !important

.p-R-100
    padding-right: 100px !important

.p-L-100
    padding-left: 100px !important

.p-T-100
    padding-top: 100px !important

.p-B-100
    padding-bottom: 100px !important

.p-H-100
    padding: 0 100px !important

.p-V-100
    padding: 100px 0 !important

.m-0
    margin: 0 !important

.m-10
    margin: 10px !important

.m-R-10
    margin-right: 10px !important

.m-L-10
    margin-left: 10px !important

.m-T-10
    margin-top: 10px !important

.m-B-10
    margin-bottom: 10px !important

.m-H-10
    margin: 0 10px !important

.m-V-10
    margin: 10px 0 !important

.m-20
    margin: 20px !important

.m-R-20
    margin-right: 20px !important

.m-L-20
    margin-left: 20px !important

.m-T-20
    margin-top: 20px !important

.m-B-20
    margin-bottom: 20px !important

.m-H-20
    margin: 0 20px !important

.m-V-20
    margin: 20px 0 !important

.m-30
    margin: 30px !important

.m-R-30
    margin-right: 30px !important

.m-L-30
    margin-left: 30px !important

.m-T-30
    margin-top: 30px !important

.m-B-30
    margin-bottom: 30px !important

.m-H-30
    margin: 0 30px !important

.m-V-30
    margin: 30px 0 !important

.m-40
    margin: 40px !important

.m-R-40
    margin-right: 40px !important

.m-L-40
    margin-left: 40px !important

.m-T-40
    margin-top: 40px !important

.m-B-40
    margin-bottom: 40px !important

.m-H-40
    margin: 0 40px !important

.m-V-40
    margin: 40px 0 !important

.m-60
    margin: 60px !important

.m-R-60
    margin-right: 60px !important

.m-L-60
    margin-left: 60px !important

.m-T-60
    margin-top: 60px !important

.m-B-60
    margin-bottom: 60px !important

.m-H-60
    margin: 0 60px !important

.m-V-60
    margin: 60px 0 !important

.m-80
    margin: 80px !important

.m-R-80
    margin-right: 80px !important

.m-L-80
    margin-left: 80px !important

.m-T-80
    margin-top: 80px !important

.m-B-80
    margin-bottom: 80px !important

.m-H-80
    margin: 0 80px !important

.m-V-80
    margin: 80px 0 !important

.m-100
    margin: 100px !important

.m-R-100
    margin-right: 100px !important

.m-L-100
    margin-left: 100px !important

.m-T-100
    margin-top: 100px !important

.m-B-100
    margin-bottom: 100px !important

.m-H-100
    margin: 0 100px !important

.m-V-100
    margin: 100px 0 !important


// ------------- display -------------
.inline
    display: inline

.inline-block
    display: inline-block

.flex
    display: flex

.f-R
    justify-content: flex-end

.f-L
    justify-content: flex-start

.f-T
    justify-content: flex-start

.f-B
    justify-content: flex-end

.f-C
    justify-content: center
    align-items: center

.f-V-C
    justify-content: center

.f-H-C
    align-items: center

.f-V-B
    justify-content: space-between

.relative
    position: relative !important

.absolute
    position: absolute !important

.fixed
    position: fixed !important


// -------------- text --------------
.uppercase
    text-transform: uppercase !important

small
    font-size: 70% !important

.t-C
    text-align: center !important

.t-R
    text-align: right !important

.t-L
    text-align: left !important


// -------------- Color ---------------
$gold: #c2ab93
$darkGold: #c69a6c


// ------------- column ---------------
.col-1
    width: 100%