.footer.inline
    .container
        .instagram
            img(src="./img/icons/instagram-c.png", alt="")
            .detail
                p Tag us on your Wellness Wheel
                p @
                    a(href="https://www.instagram.com/nesswellnesswheel") nesswellnesswheel
                    | @
                    a(href="https://www.instagram.com/ness.wellness") ness.wellness

        .logo-box
            span Powered by
            .logo(style="background-image: url(./img/logo.png)")

        .right Wheel of Wellness by ness wellness© All rights reserved 2022