#ePz7kJ65AYM17_ts {
  -webkit-animation: ePz7kJ65AYM17_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM17_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM17_ts__ts {
  0% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
            transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
  }
  10% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
            transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
  }
  20% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
            transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
  }
  30% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
            transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
  }
  40% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
            transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
  }
  50% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
            transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
  }
  60% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
            transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
  }
  70% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
            transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
  }
  80% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
            transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
  }
  90% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
            transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
  }
  100% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
            transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
  }
}

@keyframes ePz7kJ65AYM17_ts__ts {
  0% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
            transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
  }
  10% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
            transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
  }
  20% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
            transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
  }
  30% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
            transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
  }
  40% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
            transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
  }
  50% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
            transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
  }
  60% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
            transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
  }
  70% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
            transform: translate(325.352826px, 325.190651px) scale(1.126595, 1.126595);
  }
  80% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
            transform: translate(325.352826px, 325.190651px) scale(0.757283, 0.757283);
  }
  90% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
            transform: translate(325.352826px, 325.190651px) scale(0.891736, 0.891736);
  }
  100% {
    -webkit-transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
            transform: translate(325.352826px, 325.190651px) scale(0.999651, 0.999651);
  }
}
#ePz7kJ65AYM18_ts {
  -webkit-animation: ePz7kJ65AYM18_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM18_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM18_ts__ts {
  0% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.004282, 1.004281);
            transform: translate(326.069878px, 325.190651px) scale(1.004282, 1.004281);
  }
  10% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
            transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
  }
  20% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
            transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
  }
  30% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
            transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
  }
  40% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
            transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
  }
  50% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
            transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
  }
  60% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
            transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
  }
  70% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
            transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
  }
  80% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
            transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
  }
  90% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
            transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
  }
  100% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
            transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
  }
}

@keyframes ePz7kJ65AYM18_ts__ts {
  0% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.004282, 1.004281);
            transform: translate(326.069878px, 325.190651px) scale(1.004282, 1.004281);
  }
  10% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
            transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
  }
  20% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
            transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
  }
  30% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
            transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
  }
  40% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
            transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
  }
  50% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
            transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
  }
  60% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
            transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
  }
  70% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
            transform: translate(326.069878px, 325.190651px) scale(0.857062, 0.864755);
  }
  80% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
            transform: translate(326.069878px, 325.190651px) scale(1.000087, 1.000082);
  }
  90% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
            transform: translate(326.069878px, 325.190651px) scale(1.130135, 1.130132);
  }
  100% {
    -webkit-transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
            transform: translate(326.069878px, 325.190651px) scale(1.273161, 1.27315);
  }
}
#ePz7kJ65AYM19_ts {
  -webkit-animation: ePz7kJ65AYM19_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM19_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM19_ts__ts {
  0% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
            transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
  }
  10% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
            transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
  }
  20% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
            transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
  }
  30% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
            transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
  }
  40% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
            transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
  }
  50% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
            transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
  }
  60% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
            transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
  }
  70% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
            transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
  }
  80% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
            transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
  }
  90% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
            transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
  }
  100% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
            transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
  }
}

@keyframes ePz7kJ65AYM19_ts__ts {
  0% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
            transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
  }
  10% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
            transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
  }
  20% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
            transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
  }
  30% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
            transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
  }
  40% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
            transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
  }
  50% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
            transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
  }
  60% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
            transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
  }
  70% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
            transform: translate(325.683137px, 326.440711px) scale(1.167746, 1.167746);
  }
  80% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
            transform: translate(325.683137px, 326.440711px) scale(1.319852, 1.319852);
  }
  90% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
            transform: translate(325.683137px, 326.440711px) scale(1.487138, 1.487145);
  }
  100% {
    -webkit-transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
            transform: translate(325.683137px, 326.440711px) scale(1.00046, 1.00046);
  }
}
#ePz7kJ65AYM20_ts {
  -webkit-animation: ePz7kJ65AYM20_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM20_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM20_ts__ts {
  0% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.771296, 1.771303);
            transform: translate(325.463577px, 327.199805px) scale(1.771296, 1.771303);
  }
  10% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
            transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
  }
  20% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
            transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
  }
  30% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
            transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
  }
  40% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
            transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
  }
  50% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
            transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
  }
  60% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
            transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
  }
  70% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
            transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
  }
  80% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
            transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
  }
  90% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
            transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
  }
  100% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
            transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
  }
}

@keyframes ePz7kJ65AYM20_ts__ts {
  0% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.771296, 1.771303);
            transform: translate(325.463577px, 327.199805px) scale(1.771296, 1.771303);
  }
  10% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
            transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
  }
  20% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
            transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
  }
  30% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
            transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
  }
  40% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
            transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
  }
  50% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
            transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
  }
  60% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
            transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
  }
  70% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
            transform: translate(325.463577px, 327.199805px) scale(1.570892, 1.570892);
  }
  80% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
            transform: translate(325.463577px, 327.199805px) scale(1.771303, 1.771303);
  }
  90% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
            transform: translate(325.463577px, 327.199805px) scale(1.18715, 1.188257);
  }
  100% {
    -webkit-transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
            transform: translate(325.463577px, 327.199805px) scale(1.388668, 1.388668);
  }
}
#ePz7kJ65AYM21_ts {
  -webkit-animation: ePz7kJ65AYM21_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM21_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM21_ts__ts {
  0% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.507507, 1.50749);
            transform: translate(326.069878px, 325.289486px) scale(1.507507, 1.50749);
  }
  10% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
            transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
  }
  20% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
            transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
  }
  30% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
            transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
  }
  40% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
            transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
  }
  50% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
            transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
  }
  60% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
            transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
  }
  70% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
            transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
  }
  80% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
            transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
  }
  90% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
            transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
  }
  100% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
            transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
  }
}

@keyframes ePz7kJ65AYM21_ts__ts {
  0% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.507507, 1.50749);
            transform: translate(326.069878px, 325.289486px) scale(1.507507, 1.50749);
  }
  10% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
            transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
  }
  20% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
            transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
  }
  30% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
            transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
  }
  40% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
            transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
  }
  50% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
            transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
  }
  60% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
            transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
  }
  70% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
            transform: translate(326.069878px, 325.289486px) scale(2.238541, 2.238541);
  }
  80% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
            transform: translate(326.069878px, 325.289486px) scale(1.506531, 1.506532);
  }
  90% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
            transform: translate(326.069878px, 325.289486px) scale(1.777935, 1.77793);
  }
  100% {
    -webkit-transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
            transform: translate(326.069878px, 325.289486px) scale(1.986927, 1.986927);
  }
}
#ePz7kJ65AYM22_ts {
  -webkit-animation: ePz7kJ65AYM22_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM22_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM22_ts__ts {
  0% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.342703, 2.342703);
            transform: translate(325.408193px, 327.635886px) scale(2.342703, 2.342703);
  }
  10% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
            transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
  }
  20% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
            transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
  }
  30% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
            transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
  }
  40% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
            transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
  }
  50% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
            transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
  }
  60% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
            transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
  }
  70% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
            transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
  }
  80% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
            transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
  }
  90% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
            transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
  }
  100% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
            transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
  }
}

@keyframes ePz7kJ65AYM22_ts__ts {
  0% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.342703, 2.342703);
            transform: translate(325.408193px, 327.635886px) scale(2.342703, 2.342703);
  }
  10% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
            transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
  }
  20% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
            transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
  }
  30% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
            transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
  }
  40% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
            transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
  }
  50% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
            transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
  }
  60% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
            transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
  }
  70% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
            transform: translate(325.408193px, 327.635886px) scale(2.007258, 2.007252);
  }
  80% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
            transform: translate(325.408193px, 327.635886px) scale(2.342704, 2.342694);
  }
  90% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
            transform: translate(325.408193px, 327.635886px) scale(2.64771, 2.647704);
  }
  100% {
    -webkit-transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
            transform: translate(325.408193px, 327.635886px) scale(2.983154, 2.983145);
  }
}
#ePz7kJ65AYM23_ts {
  -webkit-animation: ePz7kJ65AYM23_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM23_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM23_ts__ts {
  0% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.006317, 4.006319);
            transform: translate(326.540136px, 326.747067px) scale(4.006317, 4.006319);
  }
  10% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
            transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
  }
  20% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
            transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
  }
  30% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
            transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
  }
  40% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
            transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
  }
  50% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
            transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
  }
  60% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
            transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
  }
  70% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
            transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
  }
  80% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
            transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
  }
  90% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
            transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
  }
  100% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
            transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
  }
}

@keyframes ePz7kJ65AYM23_ts__ts {
  0% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.006317, 4.006319);
            transform: translate(326.540136px, 326.747067px) scale(4.006317, 4.006319);
  }
  10% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
            transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
  }
  20% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
            transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
  }
  30% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
            transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
  }
  40% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
            transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
  }
  50% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
            transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
  }
  60% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
            transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
  }
  70% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
            transform: translate(326.540136px, 326.747067px) scale(3.531772, 3.531772);
  }
  80% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
            transform: translate(326.540136px, 326.747067px) scale(3.993876, 3.993877);
  }
  90% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
            transform: translate(326.540136px, 326.747067px) scale(4.514539, 4.514542);
  }
  100% {
    -webkit-transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
            transform: translate(326.540136px, 326.747067px) scale(3.035991, 3.036);
  }
}
#ePz7kJ65AYM24_ts {
  -webkit-animation: ePz7kJ65AYM24_ts__ts 10000ms linear infinite alternate forwards;
          animation: ePz7kJ65AYM24_ts__ts 10000ms linear infinite alternate forwards;
}

@-webkit-keyframes ePz7kJ65AYM24_ts__ts {
  0% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(8.26769, 8.26769);
            transform: translate(325.902585px, 326.098642px) scale(8.26769, 8.26769);
  }
  10% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
            transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
  }
  20% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
            transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
  }
  30% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
            transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
  }
  40% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
            transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
  }
  50% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
            transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
  }
  60% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
            transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
  }
  70% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
            transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
  }
  80% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
            transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
  }
  90% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
            transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
  }
  100% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
            transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
  }
}

@keyframes ePz7kJ65AYM24_ts__ts {
  0% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(8.26769, 8.26769);
            transform: translate(325.902585px, 326.098642px) scale(8.26769, 8.26769);
  }
  10% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
            transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
  }
  20% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
            transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
  }
  30% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
            transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
  }
  40% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
            transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
  }
  50% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
            transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
  }
  60% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
            transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
  }
  70% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
            transform: translate(325.902585px, 326.098642px) scale(7.337596, 7.337596);
  }
  80% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
            transform: translate(325.902585px, 326.098642px) scale(8.282304, 8.282304);
  }
  90% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
            transform: translate(325.902585px, 326.098642px) scale(5.576421, 5.576421);
  }
  100% {
    -webkit-transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
            transform: translate(325.902585px, 326.098642px) scale(6.506517, 6.506515);
  }
}